#login-template {
	padding-top: 30px;
}

#login-form {
	padding-left: 120px;
	padding-right: 120px;
}

.alert {
	margin-top: 10px;
	padding: 3px 35px 3px 14px;
	margin-bottom: 5px;
    margin-left: 40px;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}